@font-face 
{
    font-family:Lato;
src:url('../fonts/Lato-Black.ttf')/* Указываем местонахождение нашего шрифта */ }
body {
    background-color: #1A535C;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    background-color: #4ECDC4;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;
    box-shadow: 0 0 100px black;
}

.container * {
    padding-left: 30px;
    padding-right: 30px;
}

.main_title {
    text-align: center;
    position: inherit;
    color: #F7FFF7;
    padding-top: 10px;
    background: linear-gradient(to left, white, black)
}

.html {
    color: #FF6B6B;
}

h2,
h3 {
    text-align: center;
    color: #F7FFF7;
    text-transform: uppercase;
}

.at_title {
    font-size: 40pt;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fa {
    font-size: 13pt;
    color: #F7FFF7;
}

.sa {
    font-size: 14pt;
    font-family: 'Oswald', sans-serif;
    color: #F7FFF7;
}

.ta {
    font-size: 15pt;
    font-family: 'Calistoga', cursive;
    color: #F7FFF7;
}

.fa_title {
    font-size: 20pt;
    padding-bottom: 10px;
    color: #FFE66D;
}

.sa_title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25pt;
    color: #FF6B6B;
}

.ta_title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 30pt;
    color: #FFE66D;
    background: radial-gradient(purple, blue, skyblue, green, yellow, orange, red)
}

.f_words {
    color: #9B4DF7;
    margin: 0;
    padding: 3px;
    text-transform: uppercase;
}

.s_words {
    color: #F1813A;
    margin: 0;
    padding: 3px;
    text-transform: uppercase;
}

.t_words {
    color: #c44747;
    margin: 0;
    padding: 3px;
    text-transform: uppercase;
}

.list {
    padding-top: 30px;
    padding-left: 500px;
}

.f_list {
    list-style-type: disc;
}

.s_list {
    list-style-type: square;
}

.list li {
    color: #33d;
    font-weight: bold;
    padding-top: 5px;
    font-size: 18pt;
}

.list ul li {
    color: #fff;
    font-weight: normal;
    font-size: 14pt;
}

.list_title {
    padding-top: 30px;
    text-shadow: 5px 5px 10px #333;
    border: 10px black solid;
    border-image: url(http://www.youloveit.ru/uploads/gallery/main/777/youloveit_ru_svinka_pepa_peppa_pig22.png) 30 round round;
}
.table{
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}
.table_title{
    padding-bottom: 10px;
    padding-top: 30px;
    text-shadow: 5px 5px 10px #333;
}
.table tr td{
    background-color: #fff;
}
.table tr td a{
    color: #333;
}
.table_photo{
    background: url(https://s1.tchkcdn.com/g-d6TY1XE90TfqL-EFonETDA/1/43407/660x480/f/0/shrek.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 35vh;
}
a{
    text-decoration: none;
    color: #F7FFF7;
}
a:visited{
    color: #F7FFF7;
}
a {
    display: block;
    text-decoration: none;
    color: #F7FFF7;
    text-align: center;
    margin: 0 auto;
}

a::before {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    transform-origin: 100%;
    background-color : red;
    transform: scaleX(0);
    transition: all 0.5s;
}

a:hover::before {
    transform: scaleX(1);
}

a::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    transform-origin: 0%;
    background-color : red;
    transform: scaleX(0);
    transition: all 0.5s;
}

a:hover::after {
    transform: scaleX(1);
}
@-webkit-keyframes anim {
0% {margin-left:3px;margin-top:3px;background-color:#7Fff05;}
30% {margin-left:300px;margin-top:250px;background-color:#7aa055;}
60% {margin-left:3px;margin-top:250px;background-color:red;}
100% {margin-left:3px;margin-top:3px;background-color:#7F0055;}
}
#wrap1 {
position: absolute;
border:2px #000 solid;
background-color:#7F0055;
height:100px;
width:100px;
font-size:2em;
animation:anim 6s 3;
-webkit-animation:anim 6s 3;
}

