h1,
h2,
h3 {
    text-align: center;
    color: #F7FFF7;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

span {
    color: red;
}

body {
    background-color: #1A535C;
}

.container {
    background-color: #4ECDC4;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.container * {
    padding-left: 30px;
    padding-right: 30px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

#s_words {
    color: #F1813A;
    font-weight: 800;
    margin: 0;
    padding: 3px;
    text-transform: lowercase;
}

#f_words {
    color: #9B4DF7;
    margin: 0;
    font-weight: 800;
    padding: 3px;
    text-transform: uppercase;
}

#t_words {
    color: #c44747;
    font-weight: 400;
    margin: 0;
    padding: 3px;
    text-transform: uppercase;
}

.s_words {
    color: #F1813A;
    font-weight: 800;
    margin: 0;
    padding: 3px;
    text-transform: lowercase;
}

.f_words {
    color: #9B4DF7;
    margin: 0;
    font-weight: 800;
    padding: 3px;
    text-transform: uppercase;
}

.t_words {
    color: #c44747;
    font-weight: 400;
    margin: 0;
    padding: 3px;
    text-transform: uppercase;
}

.list {
    padding-top: 30px;
    padding-left: 500px;
}

.f_list {
    list-style-type: disc;
}

.s_list {
    list-style-type: square;
}

.list li {
    color: #33d;
    font-weight: bold;
    padding-top: 5px;
    font-size: 18pt;
}

.list ul li {
    color: #fff;
    font-weight: normal;
    font-size: 14pt;
}

.list_title {
    padding-top: 30px;
    text-shadow: 5px 5px 10px #333;
}
.table{
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}
.table_title{
    padding-bottom: 10px;
    padding-top: 30px;
    text-shadow: 5px 5px 10px #333;
}
.table tr td{
    background-color: #fff;
}
.table tr td a{
    color: #333;
}
.table_photo{
    background: url(https://s1.tchkcdn.com/g-d6TY1XE90TfqL-EFonETDA/1/43407/660x480/f/0/shrek.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 35vh;
}
a{
    text-decoration: none;
    color: #F7FFF7;
}
a:visited{
    color: #F7FFF7;
}