body {
    background-color: #1A535C;
    background: url(https://www.itl.cat/pngfile/big/32-323495_fall-wallpaper-hd-photo-full-hd-navratri-background.jpg) no-repeat top right;
    background-size: 300px 300px;
    background-attachment: fixed;
    background-color: inherit;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

.container {
/*    background-color: #4ECDC4;*/
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    margin: auto;
}
h3{
    text-align: center;
}
.container * {
    padding-left: 30px;
    padding-right: 30px;
}
.ar1, .ar2{
    color: grey;
    font-size: 16pt;
}
.ar1_title, .ar2_title{
    font-size: 20pt;
    color: #FF6B6B;
    padding-bottom: 10px;
    padding-top: 30px;
}
.image{
    position: inherit;
    width: 70%;
    height: auto;
    padding-left: 350px;
    padding-top: 30px;
}
.image_title{
    font-size: 30pt;
    text-shadow: 5px 5px 10px #333;
    padding-top: 30px;
    text-align: center;
    color: #333;
}
.fin{
    font-size: 14pt;
    background-color: grey;
    border-radius: 10px;
}
a{
    text-decoration: none;
}